<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>TOP PAGE</title>
<meta http-equiv="Content-Type"
content="text/html; charset=UTF-8"/>
<style>
h1{ font-size:18pt; font-weight:bold; color gray;}
body{font-size:13pt;color:gray;margin:5px 25px;}
</style>
</head>
<body>
<h1>hello page</h1>
<p th:text="${msg}">please wait...</p>
<form method="post" action="/">
<input type = "text" name="text1" th:value="${value}"/>
<input type = "submit" value="Click"/>
</form>
</body>
</html>